#popup-orderDetails {
    height   : 100%;
    left     : 0;
    overflow : auto;
    right    : 0;
    width    : 100%;
}

#popup-orderDetails > .popUp__content {
    justify-content : start;
    height          : fit-content;
    max-width       : 100%;
    padding-bottom  : 25px;
    padding-top     : 25px;
    position        : relative;
    width           : fit-content;
}

#popup-orderDetails .is-loading {
    /*display : block;*/
    margin-bottom : 1rem;
}

#popup-orderDetails.is-shown .is-loading {
    display : none;
}

#popup-orderDetails.is-shown {
    top : 0;
}

#popup-orderDetails.is-shown > .popUp__content {
    min-height : 100%;
}


.of-disabled {
    overflow : hidden;
}

.order-details .order-num {
    color : #777;
}

.order-details .order-status {
    margin-top : 0.25rem;
}

.order-details .section-title {
    background    : #ddd;
    margin-bottom : 0.25rem;
    margin-top    : 1.5rem;
    padding       : 0.75rem 0.5rem;
}


.order-details .products-list,
.order-details .products-list th,
.order-details .products-list td {
    border  : 1px solid #ccc;
    padding : 0.5rem;
}

.order-details .products-list th {
    background : #eee;
    text-align : center;
}

.order-details .products-list tfoot td {
    font-weight : 500;
}

.order-details .table-align-right {
    margin-left : auto;
}

.order-details .table-align-right td {
    padding : 0.5rem;
}

.order-details .table-align-right tr td:first-child {
    color      : #777;
    text-align : right;
}

/* Seller table */
